@charset "ISO-8859-1";


/*
novotris-color: #6d96c6;
*/

:root { 
	--novotris-color: #5a89bf;
	--light-text-color: #d0d0d0;
	--light-back-color: #e8e8e8;
	--dark-text-color: #404040; 
	--playground-back-color: #404040;
	--playground-line-color: #808080;
	--medium-grey-color: #808080;
}

.container {
	border: 3px;
	border-color: var(--novotris-color);
		border-radius: 10px;
	border-style: solid;
	display: flex;
	flex-direction: column;
	margin: 0px auto; 
}

#lbl-title {
	font-family: 'Calibri';
	font-size: 42px;
	color: var(--novotris-color);
	padding-top: 30px;
	text-align: center;
}

#lbl-subtitle {
	font-family: 'Calibri';
	font-size: 18px;
	color: var(--novotris-color);
	padding-top: 30px;
	text-align: center;
}

#lbl-intro {
	font-family: 'Calibri';
	font-size: 15px;
	color: var(--light-text-color);
	line-height: 175%;
	padding-top: 10px;
	text-align: center;
	}

#lbl-intro-mobile {
	font-family: 'Calibri';
	font-size: 10px;
	color: var(--light-text-color);
	line-height: 175%;
	padding-top: 10px;
	}
	
		
/* 	document.getElementById('idOfElement').className = 'newClassName'; */

.home-button {
	background-color: #b9b9b9;
	color: var(--dark-text-color);
	font-size: 14px;
	padding: 3px 3px;
	text-align: center;
	text-decoration: none;
	margin: 0px 0px;
	cursor: pointer;
	border-radius: 8px;
	border-width: medium;
	border-color: 404040;
	width: 100px;
	height: 35px;
}

.home-button:hover {
	background-color: #a0a0a0;
}

.home-button:active, .main-button:inset {
	background-color: #b9b9b9;
}

.home-button:disabled {
	background-color: #d9d9d9;
}

.game-data-label {
	color: var(--medium-grey-color);
	font-family: 'Calibri';
	font-size:16px;
	text-align: center;
  padding-top: 15px;
	vertical-align: middle;
}

.game-data-text {
	background-color: var(--medium-grey-color);;
	border-radius: 6px;
	color: var(--light-text-color);
	font-family: 'Calibri';
	font-size: 16px;
  margin: auto;
  margin-top: 0.2em;
  padding-bottom: 0.1em;
	text-align: center;
	vertical-align: middle;
	width: 60px;	
}

/*   padding-top: 0.2em; */


.main-button {
	background-color: #b9b9b9;
	color: 404040;
	padding: 4px 4px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	margin: 0px 0px;
	cursor: pointer;
	border-radius: 8px;
	border-width: medium;
	border-color: 404040;
}

.main-button:hover {
	background-color: #a0a0a0;
}

.main-button:active, .main-button:inset {
	background-color: #b9b9b9;
}

.main-button:disabled {
	background-color: #d9d9d9;
}


.row-footer {
	border-style: none;
	background-color: var(--novotris-color);
	display: flex;
	color: #d0d0d0;
	font-family: 'Calibri';
	font-size: 14px;
	width: 100%;
	padding-top: 0.3em;
	text-decoration: none;
	flex: 4;
}

.row-footer-box1 {
	flex: 20;
}
.row-footer-box2 {
	flex: 25;
}
.row-footer-box3 {
	flex: 30;
}
.row-footer-box4 {
	flex: 25;
}

.footer-label {
	padding-left: 1.0em;
}

.footer-label:hover {
	color:  white;
}

.row-subfooter {
	border-style: none;
	color: #d0d0d0;
	display: flex;
	flex: 4;
	font-family: 'Calibri';
	font-size: 12px;
	text-decoration: none;
	width: 100%;
}

.row-subfooter-box1 {
	flex: 30;
	text-align: center;
}
.row-subfooter-box2 {
	flex: 40;
	text-align: center;
}
.row-subfooter-box3 {
	flex: 30;
	text-align: center;
}


.subfooter-label {
	padding-left: 0.1em;
}

.subfooter-label:hover {
	color: white;
}

.standardform {
	color: black;
	font-family: 'Calibri';
	font-size: 16px;
	line-height: 140%;
	margin: 2em;
}

.standardmessage {
	color: black;
	font-family: 'Calibri';
	font-size: 16px;
	line-height: 140%;
}

.help-title {
	color: var(--dark-text-color);
	font-family: 'Calibri';
	font-size: 24px;
	font-weight: bold;
	padding-left: 30px; 
	padding-top: 2em;
}

.help-header {
	color: var(--dark-text-color);
	font-family: 'Calibri';
	font-size: 18px;
	font-weight: bold;
	padding-left: 30px; 
	padding-top: 1.5em;}

.help-text {
	color: var(--dark-text-color);;
	font-family: 'Calibri';
	font-size: 16px;
	padding-left: 30px; 
	padding-right: 30px; 
	padding-top: 1em;
}

#div-news-datum {
  color: black;
	font-family: 'Calibri';
	font-size: 14px;
font-style: italic;
  font-weight: bold;
  	padding-top: 0.5em;
}

#div-news-message {
  color: black;
	font-family: 'Calibri';
	font-size: 14px;
	padding-top: 0.5em;
font-style: italic;
}

table.class-table-ranking {
	border: 1px solid darkgrey;
	color: var(--dark-text-color);
	font-family: 'Calibri';
	font-size: 90%;
	width: 100%;
}

th.class-table-ranking {
	background-clip: padding-box;
	background-color: #e0e0e0;
	position: sticky;
	top: 0px;
	z-index: 3;
		border: 1px solid darkgrey;
	
}

td.class-table-ranking {
	border: 1px solid darkgrey;
	z-index: 2;
}

tr.class-table-ranking:nth-child(even) {
	border: 1px solid darkgrey;
	background-color: #e0e0e0;
}

tr.class-table-ranking:nth-child(odd) {
	background-color: #d0d0c0;
}

table.class-table-ranking td:nth-child(1) {
	text-align: right;
	padding-right: 0.5em;
	border: 1px solid darkgrey;
}

table.class-table-ranking td:nth-child(2) {
	padding-left: 0.5em;
	border: 1px solid darkgrey;
}

table.class-table-ranking td:nth-child(3) {
	border: 1px solid darkgrey;
}

table.class-table-ranking td:nth-child(4) {
	text-align: center;
	border: 1px solid darkgrey;
}

table.class-table-ranking td:nth-child(5) {
	text-align: right;
	padding-right: 0.5em;
	border: 1px solid darkgrey;
}

table.class-table-ranking td:nth-child(6) {
	border: 1px solid darkgrey;
}

.topic {
	color: black;
	font-family: 'Calibri';
	font-size: 20px;
	font-weight: bold;
	padding-top: 2em;
	text-align: center;
}

.dialog-button {
	font-family: 'Calibri';
	font-size: 14px;
	background-color: #b9b9b9;
	color: black;
	border-radius: 8px;
	border-width: medium;
	border-color: 404040;
	padding: 4px 4px;
	margin: 15px;
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
	width: 80px;
}
/* 	background-color: var(--novotris-color); */
